.formulario__titulo {
    color: #464646;
    margin-top: 1rem;
}

.formulario__campo {
    background-color: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 #C8C8C8;
    margin-bottom: .3rem;
    margin-top: 1rem;
    padding: .75rem .5rem;
}

.formulario__campo:has(.formulario__input:focus) {
    border-bottom: 3px solid #2A7AE4;
}

.formulario__label {
    color: #A2A2A2;
    font-size: .75rem;
}

.formulario__input {
    border: none;
    color: #464646;
    display: flex;
    font-size: 1rem;
    font-weight: 400;
    line-height: 20px;
    padding-top: .25rem;
    width: 100%;
}

.formulario__input:focus {
    outline: 0;
}

.formulario__botao {
    background-color: #2A7AE4;
    color: #FFFFFF;
    margin-top: .5rem;
    max-width: none;
}

.erro {
    display: block;
    color: #464646;
    font-size: .8rem;
    font-weight: 700;
    width: 100%;
}