.rodape {
    background-color: #EAF2FD;
    margin-top: 1rem;
}

.rodape__desenvolvedor.container {
    padding: 2rem;
}

.rodape__logo {
    margin-bottom: 2rem;
    text-align: center;
}

.logo__imagem {
    width: 100%;
    max-width: 170px;
}

.rodape__navegacao {
    color: #464646;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navegacao__link {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.rodape__desenvolvedor {
    background-color: #FFFFFF;
    text-align: center;
}

.desenvolvedor__titulo {
    font-weight: 500;
    color: #464646;
}

@media screen and (min-width: 768px) {
    .rodape.container {
        padding: 2rem;
    }

    .rodape {
        display: flex;
        margin-top: 2rem;
    }

    .rodape__logo {
        text-align: left;
    }

    .rodape__navegacao {
        align-items: flex-start;
    }

    .navegacao__link {
        margin-bottom: 1.5rem;
    }

    .contato__formulario {
        flex-grow: 1;
        margin-left: 5.875rem;
    }

    .contato__formulario .contato__titulo {
        margin-top: 0;
    }
}

@media screen and (min-width: 1024px) {
    .rodape {
        margin-top: 4rem;
    }
    
    .rodape.container {
        padding: 4rem 9.5rem;
    }

    .rodape__alurageek {
        display: flex;
    }

    .rodape__logo {
        margin-right: 5.875rem;
    }
}