* {
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: #E5E5E5;
}

.container {
    padding: 1rem;
}

.botao {
    border: 1px solid #2a7ae4;
    color: #2a7ae4;
    font-weight: 700;
    max-width: 200px;
    padding: 1rem 2rem;
}

@media screen and (min-width: 768px) {
    .container {
        padding: 1rem 2rem;
    }
}

@media screen and (min-width: 1024px) {
    .container {
        padding: 2rem 9.5rem;
    }
}