.login.container {
    padding: 5.625rem 1rem;
}

.login .formulario {
    margin-left: 0;
    text-align: center;
}

.login .formulario__campo {
    max-width: 400px;
    margin-inline: auto;
    text-align: left;
}

.rodape {
    margin-top: 0;
}

@media screen and (min-width: 1024px) {
    .login .botao {
        width: 100%;
        max-width: 400px;
    }
}